syntax:glob
build
nbproject
*.deb
*-build/
tests/node-server/node_modules/
.deps
.libs
*~
*.o
missing
ltmain.sh
libtool
texinfo.tex
Makefile
Makefile.in
Makefile.msc
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lexer.c
*.la
*.lo
parser.[ch]
stamp-*
tstidl
y.output


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
